#calculator{
    border: 2px solid gray;
    width: 200px;background-color: lightblue;

}
#display{
    margin: 10px;
    width: 85%;
    font-size: 30px;
    background-color: rgb(24, 155, 225);
    color: rgb(62, 58, 58);
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.button{
    height: 45px;
    width: 45px;
    margin: 3px;
    background-color: aquamarine;
}